<span class="menu_title">カレンダー</span><br />

<br />

<%# 前3ヶ月 %>
<%= link_to( "#{(@now_date << 3).year}年#{(@now_date << 3).month}月", :action=>'calendar', :date=> (@now_date << 3) ) -%>
 | <%= link_to( "#{(@now_date << 2).year}年#{(@now_date << 2).month}月", :action=>'calendar', :date=> (@now_date << 2) ) -%>
 | <%= link_to( "#{(@now_date << 1).year}年#{(@now_date << 1).month}月", :action=>'calendar', :date=> (@now_date << 1) ) -%>

<%# 今月 %>

 | <b><%= "#{@now_date.year}年#{@now_date.month}月" -%></b>

<%# 後3ヶ月 %>
 | <%= link_to( "#{(@now_date >> 1).year}年#{(@now_date >> 1).month}月", :action=>'calendar', :date=> (@now_date >> 1) ) -%>
 | <%= link_to( "#{(@now_date >> 2).year}年#{(@now_date >> 2).month}月", :action=>'calendar', :date=> (@now_date >> 2) ) -%>
 | <%= link_to( "#{(@now_date >> 3).year}年#{(@now_date >> 3).month}月", :action=>'calendar', :date=> (@now_date >> 3) ) -%>
<br />

<br />
<%= link_to 'スケジュール一覧', :action => "list", :date => @now_date %><br />
<br />

<%# form_tag :action => "table" do %>

<table class="calendar">

	<tr>
		<th class="sunday">日</th>
		<th>月</th>
		<th>火</th>
		<th>水</th>
		<th>木</th>
		<th>金</th>
		<th class="saturday">土</th>
	</tr>

	<%# カレンダーテーブル %>
	<% @calendar_matrix.each_with_index{ | value, index | %>

    <% style_class = "" %>

    <% calendar_date = Date.new( @now_date.strftime("%Y").to_i, @now_date.strftime("%m").to_i, sprintf("%02d", value[:days].to_i).to_i ) if value[:days].to_s != "　" %>
    <% today_schedules = @month_schedules["#{@now_date.strftime("%Y")}-#{@now_date.strftime("%m")}-#{sprintf("%02d", value[:days].to_i)}"] %>
    <%# holiday_judge = calendar_date.national_holiday? unless calendar_date.blank? %>
    <% holiday_judge = false %>


    <%# 今日 %>
    <% if Date.today == calendar_date %>
      <% style_class += "today" %>
    <% end %>

    <% if value[:week_day].to_i == 0 or holiday_judge == true %>
      <%# 日曜日／祝日 %>
      <% if style_class.blank? %>
        <% style_class += "sunday" %>
      <% else %>
        <% style_class += " sunday" %>
      <% end %>
    <% elsif value[:week_day].to_i == 6 %>
      <%# 土曜日 %>
      <% if style_class.blank? %>
        <% style_class += "saturday" %>
      <% else %>
        <% style_class += " saturday" %>
      <% end %>
    <% end %>

    <%# 週始め %>
    <% if value[:week_day].to_i == 0 %><tr><% end %>

    <td class="<%= style_class %>">
      <%#= value[:days] %>
      <span id="schedule_field_<%= index %>">
        <%# 日付(新規作成リンク) %>
        <% if value[:days].to_s != "　" %><%= link_to value[:days], { :action => "new", :schedule_date_year => @now_date.year, :schedule_date_month => @now_date.month, :schedule_date_day => value[:days], :date => @now_date } %><% end %>
      </span><br />
      <% unless today_schedules.blank? %>
        <% today_schedules.each_with_index{ | value, index | %>
          <span class="schedule_title"><%= link_to value.title, :action => "show", :id => value.id, :date => @now_date %></span><br />
        <% } %>
      <% end %>
<%= Date.today %>
<%= calendar_date %>
<%= Time.now %>
    </td>

    <%# 週終わり %>
    <% if value[:week_day].to_i == 6 %></tr><% end %>

	<% } %>

</table>

<br />

	<%#= submit_tag "保存" %>
<%# end %>

<%= link_to 'スケジュール一覧', :action => "list", :date => @now_date %>

<br />
<br />
