
<div class="pagination">

<span class="menu_title">一覧</span><br />

<br />

<%= will_paginate @schedules, :prev_label => 'Prev', :next_label => 'Next' %><br />

<br />

<table>
  <tr>
    <th><%= t( "schedule.title", :default => 'Title' ) %></th>
    <th><%= t( "schedule.schedule_date", :default => 'Schedule date' ) %></th>
<% if false %>
    <th>Cycle</th>
    <th>Cycle mode</th>
<% end %>
    <th><%= t( "schedule.note", :default => 'note' ) %></th>
  </tr>

<% for schedule in @schedules %>
  <tr>
    <td><%=h schedule.title %></td>
    <td><%=h schedule.schedule_date.strftime("%Y年%m月%d日") %></td>
<% if false %>
    <td><%=h schedule.cycle %></td>
    <td><%=h schedule.cycle_mode %></td>
<% end %>
    <td><%=h schedule.note %></td>
    <td><%= link_to '閲覧', { :controller => "schedules", :action => "show", :id => schedule.id, :date => @now_date } %></td>
    <td><%= link_to '編集', { :controller => "schedules", :action => "edit", :id => schedule.id, :date => @now_date } %></td>
    <td><%= link_to '削除', { :controller => "schedules", :action => "destroy", :id => schedule.id, :date => @now_date, :next => 'list' }, :confirm => '本当に削除してよろしいですか?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @schedules, :prev_label => 'Prev', :next_label => 'Next' %><br />

<br />

<%= link_to 'トップ', :action => "calendar", :date => @now_date %><br />

<br />

</div>
