
<div class="pagination menu">

<!--<span class="menu_title">一覧</span><br />-->

<%= will_paginate @schedules, :prev_label => 'Prev', :next_label => 'Next' %><br />

<br />

<table>
  <tr>
    <th><%= t( "schedule.title", :default => 'Title' ) %></th>
    <th><%= t( "schedule.schedule_date", :default => 'Schedule date' ) %></th>
<% if false %>
    <th>Cycle</th>
    <th>Cycle mode</th>
    <th><%= t( "schedule.note", :default => 'note' ) %></th>
<% end %>
    <th><%= t( "schedule.time" ) %></th>
  </tr>

<% for schedule in @schedules %>
  <tr>
    <td><%=h schedule.title %></td>
    <td><%=h schedule.schedule_date.strftime("%Y年%m月%d日") %></td>
<% if false %>
    <td><%=h schedule.cycle %></td>
    <td><%=h schedule.cycle_mode %></td>
    <td><%=h schedule.note %></td>
<% end %>
    <td><%=h schedule.start_time.strftime("%H:%M") unless schedule.start_time.blank? %>〜<%=h schedule.end_time.strftime("%H:%M") unless schedule.end_time.blank? %></td>
    <td><%= link_to t( 'menu.show' ), { :controller => "schedules", :action => "show", :id => schedule.id, :date => @now_date } %></td>
    <td><% if schedule.user_id.to_s == session[:user_id].to_s %><%= link_to t( 'menu.edit' ), { :controller => "schedules", :action => "edit", :id => schedule.id, :date => @now_date } %><% end %></td>
    <td><% if schedule.user_id.to_s == session[:user_id].to_s %><%= link_to t( 'menu.delete' ), { :controller => "schedules", :action => "destroy", :id => schedule.id, :date => @now_date, :next => 'list' }, :confirm => '本当に削除してよろしいですか?', :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @schedules, :prev_label => 'Prev', :next_label => 'Next' %><br />

<br />

<%= link_to t( 'menu.top' ), :action => "calendar", :date => @now_date, :mode => params[:mode] %><br />

<br />

</div>
