<!--<span class="menu_title">閲覧</span><br />-->

<br />

<p>
  <b>タイトル:</b>
  <%=h @schedule.title %>
</p>

<p>
  <b>日付:</b>
  <%=h @schedule.schedule_date.strftime("%Y年%m月%d日") unless @schedule.schedule_date.blank? %>
</p>

<p>
  <b>作成者:</b>
  <% if !@user.blank? and !@user.twitter_id.blank? %>
    <%= link_to @user.display_name, "http://twitter.com/#{@user.twitter_id}", :target => '_blank' %>
  <% else %>
    <%=h @user.display_name unless @user.blank? %>
  <% end %>
</p>

<p>
  <b>時間:</b>
  <%=h @schedule.start_time.strftime("%H:%M") unless @schedule.start_time.blank? %>〜<%=h @schedule.end_time.strftime("%H:%M") unless @schedule.end_time.blank? %>
</p>

<p>
  <b>周期:</b>
  <%=h @schedule.cycle %> <%=h @schedule.cycle_mode %>
</p>

<% if false %>
<p>
  <b>周期間隔:</b>
  <%=h @schedule.cycle_mode %>
</p>
<% end %>

<p>
  <b>公開設定:</b>
  <%=h @schedule.mode %>
</p>

<p>
  <b>備考:</b>
  <pre><%=h @schedule.note %></pre>
</p>

<div class="pagination menu">

<br />

<%#= link_to t( 'menu.list' ), { :controller => "schedules", :action => "list", :date => @now_date, :mode => params[:mode] } %>
<%= link_to t( 'menu.top' ), :action => "calendar", :date => @now_date, :mode => @mode %>
<% if @schedule.user_id.to_s == session[:user_id].to_s %>
  <%= link_to t( 'menu.edit' ), { :controller => "schedules", :action => "edit", :id => @schedule.id, :date => @now_date } %>
  <%= link_to t( 'menu.delete' ), { :controller => "schedules", :action => "destroy", :id => @schedule.id, :date => @now_date, :next => 'calendar' }, :confirm => '本当に削除してよろしいですか?', :method => :delete %>
<% end %>
<br />

<br />
<br />


</div>

<br />
