<div class="block">

  <div class="content">

    <h2 class="title">登録情報変更</h2>

    <div class="inner">

      <%# ユーザ情報入力 %>
      <% form_for :user, :url => { :controller => "entry", :action => "update" }, :html => { :class => :form } do |f| -%>
        <%= Utility.replace_message( :message => f.error_messages )   %>

        <div class="group">
          <%= f.label :login_id, t("activerecord.attributes.user.login_id", :default => "Login ID"), :class => :label %>
          <%= f.text_field :login_id, :class => 'text_field' %>
          <span class="description">Ex: a simple text</span>
        </div>

        <div class="group">
          <%= f.label :password, t("entry.password", :default => "Password"), :class => :label %>
          <%= f.password_field :password, :class => 'password_field' %>
          <span class="description">Ex: a simple text</span>
        </div>

        <div class="group">
          <%= f.label :edit_password, t("entry.edit_password", :default => "Edit Password"), :class => :label %>
          <%= f.password_field :edit_password, :class => 'password_field' %>
          <span class="description">Ex: a simple text</span>
        </div>

        <div class="group">
          <%= f.label :edit_password_confirmation, t("entry.edit_password_confirmation", :default => "Edit Password Confirmation"), :class => :label %>
          <%= f.password_field :edit_password_confirmation, :class => 'password_field' %>
          <span class="description">Ex: a simple text</span>
        </div>

        <div class="group navform wat-cf">
          <%# 変更 %>
          <button class="button" type="submit"><%= t("entry.edit", :default => "Edit") %></button>
          <%# 戻る %>
          <%= link_to '戻る', { :controller => 'schedules' }, :class => 'button' %>
        </div>
      <% end -%>

    </div>
  </div>
</div>

<%# content_for :sidebar, render(:partial => 'sidebar') -%>