<div class="block">

  <div class="content">

    <!--<h3 class="title">登録情報入力</h3>-->
    
    <br />

    <div class="inner">

      <%# ユーザ情報入力 %>
      <% form_for :user, :url => { :controller => "entry", :action => "confirmation" }, :html => { :class => :form } do |f| -%>
        <%= Utility.error_replace_message( :errors => @user.errors )   %>

        <br />

        <%# ログインID %>
        <div class="group">
          <%= f.label :login_id, t("activerecord.attributes.user.login_id", :default => "Login ID"), :class => :label -%>：
          <%= f.text_field :login_id, :class => 'text_field' -%>
        </div>

        <br />

        <%# パスワード %>
        <div class="group">
          <%= f.label :password, t("activerecord.attributes.user.password", :default => "Password"), :class => :label -%>：
          <%= f.password_field :password, :class => 'password_field' -%>
        </div>

        <br />

        <%# パスワード確認 %>
        <div class="group">
          <%= f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation", :default => "Password Confirmation"), :class => :label -%>：
          <%= f.password_field :password_confirmation, :class => 'password_field' -%>
        </div>

        <br />
        <br />

        <%# 表示名 %>
        <div class="group">
          <%= f.label :display_name, t("activerecord.attributes.user.display_name"), :class => :label -%>：
          <%= f.text_field :display_name, :class => 'text_field' -%>
        </div>

        <br />

        <%# TwitterID %>
        <div class="group">
          <%= f.label :twitter_id, t("activerecord.attributes.user.twitter_id"), :class => :label -%>：
          <%= f.text_field :twitter_id, :class => 'text_field' -%>
        </div>

        <br />

        <div class="group navform wat-cf">
          <br />

          <%# 確認 %>
          <button class="button" type="submit">確認</button>

          <br />
          <br />

          <%# 戻る %>
          <div class="pagination menu">
            <%= link_to '戻る', { :controller => 'schedules' }, :class => 'button' %>
          </div>
        </div>
      <% end -%>

      <br />
      <br />

    </div>
  </div>
</div>
