<div class="block">

  <div class="content">

    <br />

    <div class="inner">

      <%# ユーザ情報入力 %>
      <% form_for :user, :url => { :controller => "entry", :action => "confirmation" }, :html => { :class => :form } do |f| -%>
        <%= Utility.error_replace_message( :errors => @user.errors )   %>

        <br />

        <table>
          <%# ログインID %>
          <tr class="group">
            <th align="left"><%= f.label :login_id, "*" + t("activerecord.attributes.user.login_id"), :class => :label -%></th>
            <td><%= f.text_field :login_id, :class => 'text_field' -%></td>
          </tr>

          <%# パスワード %>
          <tr class="group">
            <th align="left"><%= f.label :password, "*" + t("activerecord.attributes.user.password"), :class => :label -%></th>
            <td><%= f.password_field :password, :class => 'password_field' -%></td>
          </tr>
        
          <%# パスワード確認 %>
          <tr class="group">
            <th align="left"><%= f.label :password_confirmation, "*" + t("activerecord.attributes.user.password_confirmation", :default => "Password Confirmation"), :class => :label -%></th>
            <td><%= f.password_field :password_confirmation, :class => 'password_field' -%></td>
          </tr>
          
          <%# 表示名 %>
          <tr class="group">
            <th align="left"><%= f.label :display_name, t("activerecord.attributes.user.display_name"), :class => :label -%></th>
            <td><%= f.text_field :display_name, :class => 'text_field' -%></td>
          </tr>
          
          <%# Twitter ID %>
          <tr class="group">
            <th align="left"><%= f.label :twitter_id, t("activerecord.attributes.user.twitter_id"), :class => :label -%></th>
            <td><%= f.text_field :twitter_id, :class => 'text_field' -%></td>
          </tr>
          
          <%# 確認ボタン %>
          <tr class="group">
            <th align="left"><button class="button" type="submit">確認</button></th>
            <td><br /></td>
          </tr>
        </table>

        <br />

        <div class="group navform wat-cf">
          <div class="pagination menu">
            <%# 戻る %>
            <%= link_to '戻る', { :controller => 'public', :action => "calendar" }, :class => 'button' %>
          </div>
        </div>
      <% end -%>

      <br />
      <br />

    </div>
  </div>
</div>
