<div class="block">

  <div class="content">

    <div class="inner">

      <%# ログインID %>
      <b><%= t( "activerecord.attributes.user.login_id" ) %>：</b>
      <%= @user.login_id %><br />

      <br />

      <%# 表示名 %>
      <b><%= t( "activerecord.attributes.user.display_name" ) %>：</b>
      <%= @user.display_name %><br />

      <br />

      <%# TwitterID %>
      <b><%= t( "activerecord.attributes.user.twitter_id" ) %>：</b>
      <%= @user.twitter_id %><br />

      <br />
      <br />

      <%# トップ %>
      <div class="menu">
        <%= link_to t( "menu.top" ), { :controller => 'schedules' }, :class => 'button' %>
      </div>
    </div>

    <br />
    <br />

  </div>
</div>
