
<%# 前月／次月生成 %>
<% last_month = @now_date.last_month %>
<% next_month = @now_date.next_month %>

<div class="pagination">

<%# 前月 %>
<%= link_to( "前月", { :action => 'calendar', :date => Date.new( last_month.year, last_month.month, last_month.day ), :mode => @mode } ) -%>
<%# 今月 %>
<%= link_to( "今月", { :action => 'calendar', :date => Date.new( Time.now.year, Time.now.month, Time.now.day ), :mode => @mode } ) -%>
<%# 次月 %>
<%= link_to( "次月", :action => 'calendar', :date => Date.new( next_month.year, next_month.month, next_month.day ), :mode => @mode ) -%>

<br />
<br />

<%# 前年 %>
<%= link_to( "#{@now_date.years_ago(1).year}年", :action=>'calendar', :date=> @now_date.years_ago(1), :mode => @mode ) -%>
<%# 今年 %>
<b><span class="current"><%= "#{@now_date.year}年" -%></span></b>
<%# 翌年 %>
<%= link_to( "#{@now_date.years_since(1).year}年", :action=>'calendar', :date=> @now_date.years_since(1), :mode => @mode ) -%>

<br />
<br />

<%# 月 %>
<% if @now_date.month == 1 %><b><span class="current"><%= "1月" -%></span></b><% else %><%= link_to( "1月", :action => 'calendar', :date => Date.new( @now_date.year, 1, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 2 %><b><span class="current"><%= "2月" -%></span></b><% else %><%= link_to( "2月", :action => 'calendar', :date => Date.new( @now_date.year, 2, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 3 %><b><span class="current"><%= "3月" -%></span></b><% else %><%= link_to( "3月", :action => 'calendar', :date => Date.new( @now_date.year, 3, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 4 %><b><span class="current"><%= "4月" -%></span></b><% else %><%= link_to( "4月", :action => 'calendar', :date => Date.new( @now_date.year, 4, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 5 %><b><span class="current"><%= "5月" -%></span></b><% else %><%= link_to( "5月", :action => 'calendar', :date => Date.new( @now_date.year, 5, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 6 %><b><span class="current"><%= "6月" -%></span></b><% else %><%= link_to( "6月", :action => 'calendar', :date => Date.new( @now_date.year, 6, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 7 %><b><span class="current"><%= "7月" -%></span></b><% else %><%= link_to( "7月", :action => 'calendar', :date => Date.new( @now_date.year, 7, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 8 %><b><span class="current"><%= "8月" -%></span></b><% else %><%= link_to( "8月", :action => 'calendar', :date => Date.new( @now_date.year, 8, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 9 %><b><span class="current"><%= "9月" -%></span></b><% else %><%= link_to( "9月", :action => 'calendar', :date => Date.new( @now_date.year, 9, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 10 %><b><span class="current"><%= "10月" -%></span></b><% else %><%= link_to( "10月", :action => 'calendar', :date => Date.new( @now_date.year, 10, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 11 %><b><span class="current"><%= "11月" -%></span></b><% else %><%= link_to( "11月", :action => 'calendar', :date => Date.new( @now_date.year, 11, 1 ), :mode => @mode ) -%><% end -%>
　<% if @now_date.month == 12 %><b><span class="current"><%= "12月" -%></span></b><% else %><%= link_to( "12月", :action => 'calendar', :date => Date.new( @now_date.year, 12, 1 ), :mode => @mode ) -%><% end -%>

<br />

<% if false %>
<%# 前3ヶ月 %>
<%= link_to( "#{(@now_date << 3).year}年#{(@now_date << 3).month}月", :action=>'calendar', :date=> (@now_date << 3) ) -%>
 | <%= link_to( "#{(@now_date << 2).year}年#{(@now_date << 2).month}月", :action=>'calendar', :date=> (@now_date << 2) ) -%>
 | <%= link_to( "#{(@now_date << 1).year}年#{(@now_date << 1).month}月", :action=>'calendar', :date=> (@now_date << 1) ) -%>
<%# 今月 %>
 | <b><%= "#{@now_date.year}年#{@now_date.month}月" -%></b>
<%# 後3ヶ月 %>
 | <%= link_to( "#{(@now_date >> 1).year}年#{(@now_date >> 1).month}月", :action=>'calendar', :date=> (@now_date >> 1) ) -%>
 | <%= link_to( "#{(@now_date >> 2).year}年#{(@now_date >> 2).month}月", :action=>'calendar', :date=> (@now_date >> 2) ) -%>
 | <%= link_to( "#{(@now_date >> 3).year}年#{(@now_date >> 3).month}月", :action=>'calendar', :date=> (@now_date >> 3) ) -%>
<br />
<% end %>

<br />

<br />
<%# リスト %>
<span class=" menu"><%= link_to t( "menu.list", :default => 'List' ), :action => "list", :date => @now_date, :mode => @mode %></span><br />
<br />

</div>
<%# ／ページネーション %>

<br />

<div class='calendar_area'>

<table class="calendar">

	<tr>
		<th class="sunday">日</th>
		<th>月</th>
		<th>火</th>
		<th>水</th>
		<th>木</th>
		<th>金</th>
		<th class="saturday">土</th>
	</tr>

	<%# カレンダーテーブル %>
	<% @calendar_matrix.each_with_index{ | value, index | %>

    <% style_class = "" %>

    <%# カレンダー日付 %>
    <% calendar_date = Date.new( @now_date.strftime("%Y").to_i, @now_date.strftime("%m").to_i, sprintf("%02d", value[:days].to_i).to_i ) if value[:days].to_s != "　" %>

    <%# 当日スケジュール取得 %>
    <% today_schedules = @month_schedules["#{@now_date.strftime("%Y")}-#{@now_date.strftime("%m")}-#{sprintf("%02d", value[:days].to_i)}"] %>

    <%# 祝日判定 %>
    <% holiday_judge = Utility.holiday_ja?( calendar_date ) unless calendar_date.blank? %>

    <%# 今日 %>
    <% if Date.today == calendar_date %>
      <% style_class += "today" %>
    <% end %>

    <% if value[:week_day].to_i == 0 or holiday_judge == true %>
      <%# 日曜日／祝日 %>
      <% if style_class.blank? %>
        <% style_class += "sunday" %>
      <% else %>
        <% style_class += " sunday" %>
      <% end %>
    <% elsif value[:week_day].to_i == 6 %>
      <%# 土曜日 %>
      <% if style_class.blank? %>
        <% style_class += "saturday" %>
      <% else %>
        <% style_class += " saturday" %>
      <% end %>
    <% end %>

    <%# 週始め %>
    <% if value[:week_day].to_i == 0 %><tr><% end %>

    <td class="<%= style_class %>">
      <%#= value[:days] %>
      <span id="schedule_field_<%= index %>">
        <%# 日付 %>
        <%= value[:days] %>
      </span><br />
      <% unless today_schedules.blank? %>
        <% today_schedules.each_with_index{ | value, index | %>
          <%# ツールチップ内容 %>
          <% tooltip = "#{value.start_time.strftime("%H:%M") unless value.start_time.blank?}〜#{value.end_time.strftime("%H:%M") unless value.end_time.blank?}\n#{value.note}" %>
          
          <%# スケジュールリンク %>
          <span class="schedule_title"><%= link_to value.title, { :action => "show", :id => value.id, :date => @now_date, :mode => @mode }, :title => tooltip %></span><br />
        <% } %>
      <% end %>
    </td>

    <%# 週終わり %>
    <% if value[:week_day].to_i == 6 %></tr><% end %>

	<% } %>

</table>

</div>

<br />
<br />
